<footer class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid pattern">
    <div class="text-center mt-3">
      <p class="mb-0">&copy; 2025 NOA.</p>
    </div>

    <div class="text-center mt-3">
      <p class="mb-0">Договір Оферта</p>
    </div>

    <div class="text-center mt-3">
    <div><img src="assets/img/pay_one.svg">
      <img src="assets/img/pay_two.svg">
    </div>
    </div>

    <div class="text-center mt-3">
      <p class="mb-0">noa.asian</p>
    </div>

    <div class="text-center mt-3">
      <p class="mb-0">Створення сайтів REDSTONE</p>
    </div>
  </div>
</footer>
