@import '../../shared/styles/variables';
footer {
  position: relative;
  z-index: 100;
}
.pattern {
  position: relative;
  z-index: 1;
  height: 100px;
}

.pattern::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/assets/img/pattern.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.05;
  z-index: 0;
  pointer-events: none;
}
p{
  color: black;
}
