@import '../../../shared/styles/variables';
@import '../../../shared/styles/base';
.change{
  width:40%
}
.title{
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 30px;
  color:white}
.btn-save{
  margin: 20px 0;
  width: 100%;
}
