<div class="container">

  <h2>Наші контакти</h2>

  <div class="place">
    <div class="contact-info">
      <h5>ТРЦ Victoria Gardens</h5>
      <div class="contact-item ">
        <div class="d-flex">
          <mat-icon>location_on</mat-icon>
          <p>
            <b>м. Львів</b><br>
            Кульпарківська 226 А
          </p>
        </div>

        <div class="d-flex">
          <mat-icon>mail</mat-icon>
          <p>
            <b>victoriagardens&#64;noa.lviv.ua</b>
          </p>
        </div>
        <div class="d-flex">
          <mat-icon>phone_iphone</mat-icon>
          <p class="phone">
            <b>067 586 52 89</b>
          </p>
        </div>
        <div class="d-flex">
          <mat-icon>schedule</mat-icon>
          <p>
            <b>Пн - Нд з 10:00 до 22:00</b>
          </p>
        </div>
      </div>
    </div>

    <div class="contact-info">
      <h5>NOA Староєврейська</h5>
      <div class="contact-item">
        <div class="d-flex">
          <mat-icon>location_on</mat-icon>
          <p>
            <b>м. Львів</b><br>
            Староєврейська 4
          </p>
        </div>

        <div class="d-flex">
          <mat-icon>mail</mat-icon>
          <p>
            <b> staroevreyska&#64;noa.lviv.ua</b>
          </p>
        </div>
        <div class="d-flex">
          <mat-icon>phone_iphone</mat-icon>
          <p class="phone">
            <b>067 884 46 17</b>
          </p>
        </div>
        <div class="d-flex">
          <mat-icon>schedule</mat-icon>
          <p>
            <b>Пн - Нд з 10:00 до 23:00</b>
          </p>
        </div>
      </div>
    </div>

    <div class="contact-info">
      <h5>NOA Крива Липа</h5>
      <div class="contact-item">
        <div class="d-flex">
          <mat-icon>location_on</mat-icon>
          <p>
            <b>м. Львів</b><br>
            Крива Липа 8
          </p>
        </div>

        <div class="d-flex">
          <mat-icon>mail</mat-icon>
          <p>
            <b> skl&#64;noa.lviv.ua</b>
          </p>
        </div>
        <div class="d-flex">
          <mat-icon>phone_iphone</mat-icon>
          <p class="phone">
            <b>067 884 46 96</b>
          </p>
        </div>
        <div class="d-flex">
          <mat-icon>schedule</mat-icon>
          <p>
            <b>Пн - Нд з 11:00 до 22:00</b>
          </p>
        </div>
      </div>
    </div>

    <div class="contact-info">
      <h5>СТРЦ Spartak</h5>
      <div class="contact-item">

        <div class="d-flex">
          <mat-icon>location_on</mat-icon>
          <p>
            <b>м. Львів</b><br>
            Мазепи 1Б
          </p>
        </div>

        <div class="d-flex">
          <mat-icon>mail</mat-icon>
          <p>
            <b> spartak&#64;noa.lviv.ua</b>
          </p>
        </div>
        <div class="d-flex">
          <mat-icon>phone_iphone</mat-icon>
          <p class="phone">
            <b>067 884 46 31</b>
          </p>
        </div>
        <div class="d-flex">
          <mat-icon>schedule</mat-icon>
          <p>
            <b>Пн - Нд з 10:00 до 22:00</b>
          </p>
        </div>
      </div>
    </div>

    <div class="contact-info">
      <h5>ТРЦ King Cross Leopolis</h5>
      <div class="contact-item">

        <div class="d-flex">
          <mat-icon>location_on</mat-icon>
          <p>
            <b>с. Сокільники</b><br>
            Стрийська 30
          </p>
        </div>

        <div class="d-flex">
          <mat-icon>mail</mat-icon>
          <p>
            <b> kingcross&#64;noa.lviv.ua</b>
          </p>
        </div>
        <div class="d-flex">
          <mat-icon>phone_iphone</mat-icon>
          <p class="phone">
            <b>067 884 45 90</b>
          </p>
        </div>
        <div class="d-flex">
          <mat-icon>schedule</mat-icon>
          <p>
            <b>Пн - Нд з 10:00 до 21:00</b>
          </p>
        </div>
      </div>
    </div>

    <div class="contact-info">
      <h5>Viking Business Center</h5>
      <div class="contact-item">

        <div class="d-flex">
          <mat-icon>location_on</mat-icon>
          <p>
            <b>м. Львів</b><br>
            Зелена 151
          </p>
        </div>

        <div class="d-flex">
          <mat-icon>mail</mat-icon>
          <p>
            <b> tm.vikingnoaemily&#64;noa.lviv.ua</b>
          </p>
        </div>
        <div class="d-flex">
          <mat-icon>phone_iphone</mat-icon>
          <p class="phone">
            <b>0675922039</b>
          </p>
        </div>
        <div class="d-flex">
          <mat-icon>schedule</mat-icon>
          <p>
            <b>Пн - Нд з 10:00 до 22:00</b>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex align-items-center form-block">
    <div class="contact-form">
      <h4>У тебе виникли запитання? Напиши нам!</h4>
      <form [formGroup]="infoForm" class="info-form">
        <div>
          <div class="d-flex">
            <input formControlName="name" type="text" class="me3 form-control"
                   placeholder="Ім'я">
            <input formControlName="lastName" type="text" class="form-control"
                   placeholder="Прізвище">
          </div>

          <div class="d-flex">
            <input formControlName="phone" type="tel" class="form-control"
                   placeholder="+38 (xxx) xxx xx xx">
            <input formControlName="email" type="email" class="form-control"
                   placeholder="E-mail">
          </div>

          <textarea formControlName="message" class="message form-control"
                    placeholder="Повідомлення"></textarea>
          <button type="submit" class="btn btn-contact" (click)="sent()"> Надіслати </button>
        </div>
      </form>
    </div>
    <div class="map-block">
      <img src="assets/img/map2.png">
    </div>
  </div>


</div>
