<div class="container-fluid">
  <video id="bgVideo" #bgVideo autoplay muted loop playsinline class="background-video">
    <source src="assets/img/noa3-1.mp4" type="video/mp4">
  </video>

  <div class="container">
    <div class="seo-cont">
      <h4> Швидка та безкоштовна доставка суші від NOA Львів</h4>
      <div class="text">
        <p>Полюбляєте суші? Львів, зустрічай доставку від NOA! Ми готуємо суші з добірних
          інгредієнтів та вчасно доставляємо у будь-який куточок міста. Ми закохані в азійську кухню, тож постійно
          вдосконалюємо рецепти, дбаємо про якість складників та ваші приємні враження від кожного шматочка. А ще —
          пропонуємо зручні умови доставки додому або в офіс.&nbsp; Запрошуємо поринути у світ азійської кухні разом з
          NOA!</p>
      </div>
     <div class="more-text"> <mat-accordion>
       <mat-expansion-panel #panel (opened)="isExpanded = true" (closed)="isExpanded = false">
         <mat-expansion-panel-header *ngIf="!isExpanded">
           <mat-panel-title>
             Читати  більше
           </mat-panel-title>
         </mat-expansion-panel-header>
         <div>
             <h2>Як працює наша доставка суші у Львові?</h2>
             <p>Найсмачніші суші з доставкою, роли та сети — кожна страва приготована з турботою. Ми використовуємо лише
               добірні інгредієнти — водорості норі, лосось, ікра масаго, креветка, крем сир, авокадо соус Унагі та
               соєвий
               — та дбаємо про дотримання всіх тонкощів кулінарного мистецтва. Сушисти нашого ресторану знають, як вдало
               поєднати інгредієнти, щоб отримати справді смачні роли, які ви захочете куштувати ще і ще.</p>
             <p>Готуємо суші на будь-який смак. Наша швидка доставка суші пропонує як класичні холодні роли, так і теплі
               суші темпура та гриль. А також суші сети — великі набори суші та ролів, які будуть доречними у випадку,
               якщо
               вдома зібралась компанія гостей.</p>
             <h2>Меню NOA — які суші варто замовити з доставкою?</h2>
             <p>Доставка у Львові з нашого ресторану пропонує меню суші, яке вражає різноманіттям. У нас на вас чекають
               класичні та авторські рецепти ролів. Рекомендуємо спробувати:</p>
             <ul>
               <li>Рол з копченим лососем. До складу страви входять: копчений лосось, сніжний краб, авокадо,
                 крем-сир, рис, сушена цибуля, водорості норі, кімчі майо, соус унагі, шишимі тогараши, імбир рожевий,
                 лайм, васабі. Чудовий вибір для тих, хто полюбляє нові та цікаві рецепти ролів.
               </li>
               <li>Рол з лососем та креветкою. Рол складається з таких компонентів, як лосось, креветка темпура, сніжний
                 краб, рис, норі, дайкон, огірок, цибулеві чіпси, масаго, цибуля зелена, гострий майо.
               </li>
               <li>Ебі Пармеджано. Креветка тигрова, сніжний краб, ікра корюшки, суші-сир, сир пармезан, цибуля сушена,
                 олія трюфельна, рис, водорості норі, майонез японський гострий, сухарі панірувальні, шишамі тагараши,
                 соус
                 унагі, імбир рожевий, кляр, васабі – поєднання, яке нікого не залишить байдужим.
               </li>
             </ul>
             <p>У нашому меню є багато смачних поєднань, які точно не залишать вас байдужими. Смачні суші сподобаються
               навіть найбільш вибагливим гурманам та подарують вам справжнє задоволення від неповторного смаку. Ми не
               просто готуємо роли Філадельфія з лососем, Філадельфія з креветкою чи класична Каліфорнія. Дбаємо про
               незвичайне поєднання смаків та ваш незабутній смаковий досвід.</p>
             <p>Вирішивши замовити суші з доставкою у Львові у нас, ви обов’язково маєте спробувати суші бургери. Це
               вдале
               поєднання суші та бургера — новий і дуже смачний формат. Замість булочки в суші бургерах використовується
               норі, а начинка — класична для ролів. Суші бургери можуть бути з тунцем, лососем, креветкою та іншими
               смачними складниками. Для делікатного смаку використовується крем-сир, а пікантну нотку страві додає
               зелена
               цибуля або інша зелень. Хрусткості страві надають сухарі панко та особливий спосіб приготування.</p>
             <p>До кожної порції суші додаємо соєвий соус, васабі та імбир. Вони підкреслюють та по-новому розкривають
               смак
               кожного шматочка.</p>
             <p>Тож якщо ви бажаєте замовити роли у Львові, й знайти свою найулюбленішу доставку, перегляньте меню
               NOA!</p>
             <h3>Інші страви японської кухні у нашому меню</h3>
             <p>Ми не просто готуємо найкращі суші у Львові. Ми пропонуємо різноманіття азійських страв на будь-який
               смак.
               Ви можете замовити смачні:</p>
             <ul>
               <li><a class="link" href="https://noa.ua/asian-bowls/">Боули</a> — поєднання смаку та користі в одній тарілці.</li>
               <li><a class="link"  href="https://noa.ua/snidanky/">Сніданки</a> до 18:00 кожного дня. Зайву годину поспіть, поки наша
                 доставка їжі готує для вас страви, які допоможуть розпочати день смачно.
               </li>
               <li><a class="link"  href="https://noa.ua/asianwok/">Локшину та рис WOK</a> з безкоштовною доставкою у Львові. Смачні та
                 збалансовані страви з морепродуктами, м’ясом, овочами.
               </li>
               <li><a class="link"  href="https://noa.ua/ramen/">Рамени</a> — ситні та смачні, які чудово доповнять ваш обід та
                 зроблять
                 його незабутнім.
               </li>
             </ul>
             <p>А ще — салати, десерти, напої, закуски та багато іншого. Ми знаємо секрети приготування не лише суші та
               ролів, а й будь-яких інших азійських страв. А швидка доставка з ресторану — можливість для наших клієнтів
               насолодитися улюбленою їжею, не виходячи з дому.</p>
             <h2>Замовити Суші у Львові – безкоштовна доставка від NOA</h2>
             <p>Замовлення суші додому здатне прикрасити навіть найпохмуріший день. Й оформити доставку дуже просто і
               зручно: оберіть страви в нашому меню, залиште свої контакти та дочекайтеся підтвердження телефоном. Вже
               через 29-60 хвилин ви отримаєте доставку — улюблені суші та роли з добірних інгредієнтів — за вашою
               адресою.</p>
             <p>Безкоштовна доставка суші у Львові з ресторану NOA — це:</p>
             <ul>
               <li>Лише найсмачніші страви з добірних інгредієнтів.</li>
               <li>Великий вибір суші та ролів, які обов’язково варто скуштувати.</li>
               <li>Швидка доставка в будь-який куточок міста.</li>
               <li>Є самовивіз— забрати суші самостійно можна з наших ресторанів.</li>
             </ul>
             <p>Обирайте нашу доставку суші, та влаштуйте собі найсмачніший обід!</p></div>
         <div class="btn-wrapper" *ngIf="isExpanded">
           <button mat-button class="btn-reduce" (click)="panel.close()">Згорнути</button>
         </div>
       </mat-expansion-panel>
     </mat-accordion></div>
    </div>
  </div>
</div>
