<h2 class="page-main-title text-center mt-5">
  Доставка і оплата
</h2>
<div class="wrapper container-fluid d-flex">
  <div class="d-flex" >
    <div class="zone-block">
      <div class="greenZone d-flex justify-content-evenly mt-5">
        <div><img src="assets/img/bike_green.svg"></div>
        <div class="d-flex flex-column">
          <h4 class="nameZone" > Зелена зона </h4>
          <ul>
            <li class="delivery-list-zone delivery-list-green"> Орієнтовний час доставки 55 хвилин </li>
            <li class="delivery-list-zone delivery-list-green"> При замовленні від 350 грн привеземо БЕЗКОШТОВНО </li>
            <li class="delivery-list-zone delivery-list-green"> При замовленні до 350 грн вартість доставки 80 грн</li>
          </ul>
        </div>

      </div>
      <div class="redZone d-flex justify-content-evenly mt-5">
        <div>
          <img src="assets/img/bike_red.svg">
        </div>
        <div  class="d-flex flex-column">
          <h4 class="nameZone">Червона зона</h4>
          <ul>
            <li class="delivery-list-zone delivery-list-red"> Орієнтовний час доставки 69 хвилин </li>
            <li class="delivery-list-zone delivery-list-red"> Мінімальне замовлення 400 грн вартість доставки 120 грн </li>
            <li class="delivery-list-zone delivery-list-red"> При замовленні від 600 грн привеземо БЕЗКОШТОВНО</li>
            <li class="delivery-list-zone delivery-list-red"> Доставка доступна до 21:00</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="map-block">
      <img src="assets/img/map.png">
    </div>

  </div>


</div>
<div class="main-text">
  <h1 class="text-center">Доставка їжі у Львові: замовляй улюблені страви з NOA</h1>
  <p>Cніданок, обід або вечеря — безкоштовна доставка їжі у Львові з ресторану NOA виручає завжди! Смачні страви азійської кухні, розмаїття рецептів та найшвидші у світі кур’єри: ми дбаємо про те, щоб замовити їжу можна було легко й комфортно. Тож сьогодні розкажемо більше про те, як працює наша доставка!</p>
</div>

<div class="payment-block mb-5 ">
  <h2 class="h2 title text-center mb-5">Оплата</h2>
  <div class="d-flex justify-content-evenly">
    <div class="bloc-LiqPay d-flex ms-5">
      <img src="assets/img/pay_page_one.svg">
      <div class="ms-5">
        <div class="h5 title">Оплата LiqPay</div>
        <div class="text-pay">Розраховуйся онлайн за своє замовлення через сервіс LiqPay на сайті</div>
      </div>
    </div>
    <div class="bloc-card d-flex">
      <img src="assets/img/pay_page_two.svg">
      <div class="ms-5">
        <div class="h5 title">Оплата карткою</div>
        <div class="text-pay">Наш кур'єр має з собою термінал та приймає карту для оплати</div>
      </div>
    </div>
    <div class="bloc-cash d-flex">
      <img src="assets/img/pay_page_tree-1.svg">
      <div class="ms-5">
        <div class="h5 title">Оплата готівкою</div>
        <div class="text-pay">Сплачуй готівкою при отриманні замовлення, попередь якщо потрібна решта</div>
      </div>
    </div>
  </div>
  <div class="pay-only-text col-8 m-auto mt-5">
    <h2>Доставка їжі з NOA: які страви ми пропонуємо?</h2>
    <p>Величезне меню з традиційними ролами, локшиною вок, десертами та напоями, які підкреслюють смак страв. Ми створюємо азійські страви зі свіжих та добірних компонентів. Наші кухарі дбають про правильне зберігання й ретельно обробку всіх складників. Саме тому, кожна страва з нашого меню — досконала. А гості НОА — завжди задоволені.
    <br> В нашому ресторані ви можете замовити їжу на будь-який смак:</p>
    <ul>
      <li>Роли та суші-сети — як традиційні, так і авторські. З лососем, вугрем та іншими смачними складниками.</li>
      <li>WOK — локшину й рис. Готуємо вок з куркою, морепродуктами, овочами та власноруч розробленими соусами. Маємо пікантні страви для тих, хто полюбляє гостре.</li>
      <li>Рамени — з яловичиною, курятиною, свининою, морепродуктами, гьодзе. Ситно та смачно.</li>
      <li>Poke-боули — з тунцем, лососем та іншими смачними інгредієнтами.</li>
    </ul>
    <p>Кожного дня з 10 ранку та до 18:00 у нас можна посмакувати сніданками. Ви можете замовити сирники, хашбраун, омлети та тости. Починайте день смачно!
      <br>Окрім цього, у нас є десерти, стартери, напої. Ви можете замовити доставку будь-яких страв для повноцінного обіду, вечері або зустрічі з друзями. Тому якщо любите смачно поїсти, не витрачаючи час біля плити — вам до нас!</p>
    <h2>Як працює наша доставка їжі у Львові?</h2>
    <p>Розповімо, як саме ми доставляємо наші страви. Для зручності, ділимо Львів на зони доставки – Зелену та Жовту. Найближчі населені пункти (Рясне Руське, Зимна Вода, Давидів тощо) відносимо до Червоної зони. Кожна зона має чітко визначений час приїзду кур’єра, а також суму мінімального замовлення та вартість доставки. Саме тому, ви можете легко перевірити, коли саме отримаєте ваші страви.
    <br>
      Доставка в Зелену зону Львова – здійснюємо до 45 хвилин. Доставка в Жовту зону – до 59 хвилин, а в Червону — до 65 хвилин. Ми цінуємо ваш час, прагнемо привезти їжу ароматною та свіжою. Саме тому, кур’єри обирають оптимальні маршрути містом: вони знають, як об’їхати затори в годину пік.
      <br>
      Окрім доставки, у нас працює послуга самовивозу. Якщо ви мешкаєте поруч, можете завітати до нас та забрати замовлення самостійно у найближчому ресторані НОА. Просто оберіть опцію самовивозу або повідомте, що хочете забрати страви самостійно, телефоном.
    </p>
    <h2>Як оплатити доставку їжі з NOA?</h2>
    <p>Діє безкоштовна доставка замовлень на суму 300 грн (Зелена та Жовта зони) й 350 грн у Червоній зоні. У вас є можливість оплатити своє замовлення можна зручними способами — на сайті через систему LiqPay, карткою або готівкою кур’єру. Просто вкажіть варіант, який вам підходить.
    <br> NOA — це:
    <ul>
    <li>Лише добірні компоненти. Дбаємо про якість кожного складника, щоб ви могли насолоджуватися справді смачною та корисною їжею, приходячи до нас.</li>
    <li>Величезний вибір страв на будь-який смак. Ми знаємо про азійську кухню все, та навіть більше. Вдосконалюємо традиційні рецепти та створюємо авторські новинки для вас.</li>
    <li>Швидка доставка. Ви отримаєте замовлення без затримок — це гарантують наші швидкі кур’єри. Робимо усе можливе для того, щоб ви могли смакувати улюбленими стравами без затримок.</li>
  </ul>
    <p>
      Ми працюємо щодня та без вихідних, у будні й у свята.
      <br>
      Щоб замовити їжу у Львові, просто оберіть страви до смаку, додайте їх у кошик та дочекайтесь кур’єра. Також чекаємо на вас у нашому ресторані. Бажаємо смачного!
    </p>
  </div>
</div>
